{% extends 'global/master.html' %}
{% load static %}

{% block head_block %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block body_block %}
    <h2>Select a category to view questions</h2>
    <br />
    <hr>
    <div id="id_target"></div>
{% endblock %}

{% block foot_block %}
    <script src="{% static 'javascript/global/index.js' %}"></script>
{% endblock %}