<!DOCTYPE html>
  
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/global/global.css' %}">
    
    {% block head_block %}
    {% endblock %}
  </head>
  
  <body>
    <div class="container">
      <br />
      <!-- --------------- Side menu starts here ---------------- -->
      <div class="row">
      <div class="col-md-2 align-center">
        <a href="/">
          <!--<img class="img-rounded" width="80%" src="{% static 'images/logo.png' %}" />-->
        </a>
        <hr>
        <ul id="id_categories" class="nav nav-pills nav-stacked make-nav-green">
            <li id="navHome" class="active">
              <a href="/"><span class="glyphicon glyphicon-tent"></span><br />Home</a>
            </li>
        </ul>
        <hr>
      </div>
      <!-- ------------------------------------------------------ -->
      <div class="col-md-10">
        {% block body_block %}
        {% endblock %}
      </div>
      </div>
      <p>&nbsp;</p><hr>
      <!-- ----------------- Footer starts here ----------------- -->
      <script src="{% static 'javascript/resources/jquery.min.js' %}"></script>
      <script src="{% static 'javascript/resources/bootstrap.min.js' %}"></script>
      
      <script src="{% static 'javascript/global/global.js' %}"></script>
      {% block foot_block %}
      {% endblock %}
      <!-- ------------------------------------------------------ -->
    </div>
    <br /><br />
  </body>
</html>
