{% extends 'global/master.html' %}
{% load static %}

{% block head_block %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block body_block %}
    {% if questions %}
    <h2>Questions</h2>
    <br />
    <hr>
    <div id="id_target">

        {% for question in questions %}
            <div class="col-md-1">{{ forloop.counter}}.</div>
            <div class="col-md-11">
                {{ question }}
                <br />
                {% if question.answer_type == question.MULTI_OPTION_TYPE_ANSWER %}
                    {% for option in question.option_set.all %}
                        <div style="padding-left: 10px">
                            <input type="checkbox" name="{{ question.id }}" value="{{ option.id }}" /> {{ option }}
                        </div>
                    {% endfor %}
                {% elif question.answer_type == question.SINGLE_OPTION_TYPE_ANSWER %}
                    {% for option in question.option_set.all %}
                        <div style="padding-left: 10px">
                            <input type="radio" name="{{ question.id }}" value="{{ option.id }}" /> {{ option }}
                        </div>
                    {% endfor %}
                {% elif question.answer_type == question.TEXT_TYPE_ANSWER %}
                    <div style="padding-left: 10px">
                        <input type="text" name="{{ question.id }}" />
                    </div>
                {% endif %}
            </div>
            <br /><br /><br /><br />
            <hr>
        {% endfor %}
        <input type="submit" />
    </div>
    {% else %}
    <h2>No questions in this category, try with a different category</h2>
    {% endif %}
{% endblock %}

{% block foot_block %}
    <script src="{% static 'javascript/global/index.js' %}"></script>
{% endblock %}