.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.circular-icon {
    padding: 10px 15px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    margin-top: 24px;
}

.what-to-read-next {
    margin-top: 5px;
}

/* ----------------- Jumbotron Customization ---------------- */
.jumbotron {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 400px;
    background: #333;
}

/* ----------------- Circular Image Customization ---------------- */
.img-circle {
    margin-top: 30px;
}

/* ----------------- Button Customization ---------------- */
.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #8C208D;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #983698;
}
 
.btn-primary:active, .btn-primary.active {
    background: #8C208D;
    box-shadow: none;
}


.btn-link {
    color: #8C208D;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open > .dropdown-toggle.btn-link {
    color: #8C208D;
}


/* ----------------- Navigation Customization ---------------- */
.make-nav-violet a {
    color: #8C208D;
}

.make-nav-violet .active a {
    background-color: #8C208D !important;
}


/* ----------------- Paginator Customization ---------------- */
.make-paginator-violet>li>a {
    color: #8C208D;
    border-color: #8C208D;
}


.make-paginator-violet .active a {
    background-color: #8C208D !important;
    border-color: #8C208D;
}

.pagination a:hover {
  background-color: #8C208D;
  color: #FFFFFF;
}

